* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    height: 500vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ==================== Start of Main Navigation ==================== */

.nav-header {
    max-height: 20vh;
    border-bottom: #ccc 1px solid;
}

.main-nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0;
    margin: auto;
}

.main-search {
    flex: 1;
}

.main-nav .logo {
    color: #000;
    font-size: 2.4rem;
    margin-right: 5rem;
}

.main-nav .highlight-blue {
    color: #0d0d4d;
}

.main-nav form {
    display: flex;
    height: 40px;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: 0.1rem solid #cecece;
}

.main-nav .search-data {
    width: 100%;
    height: 100%;
    padding: 0 0.1rem;
    font-size: 1.2rem;
    border: none;
    font-weight: 500;
    background: none;
}

.main-nav button {
    padding: 0 1rem;
    margin-left: 0.6rem;
    color: #fff;
    font-size: 1.2rem;
    background: #0d0d4d;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

.main-nav .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem 0; */
}

.main-nav .nav-link {
    color: #000;
    font-size: 1.2rem;
    padding: 0 0 0 1rem;
}

.main-nav .nav-link:hover {
    color: #0e0e8f;
}

.dropdown-content {
    display: none;
}

/* ==================== End of Main Navigation ==================== */

.hero {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: auto;
}

/* Billboard container */
.billboard-contanier {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.billboard {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -0.2rem;
    padding: 1.2rem;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot-container {
    display: flex;
    justify-self: center;
    position: absolute;
    left: 47.5%;
    bottom: 15px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Container */
.container {
    /* height: 100vh; */
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
    border: 3px solid lightgreen;
    /* background-color: #cecece; */
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}
